#preloader{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background: #000 url(loader.gif) no-repeat center center;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
#move{
    background-color: aquamarine;
    display: grid;
    position: absolute;
    bottom: 1000px;
    left: 500px;
    right: 180%;
}